<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PandIDExcelAddin.Properties.Settings.pandidConnectionString"
            connectionString="server=localhost;user id=root;password=IHC1234;persistsecurityinfo=True;database=pandid"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>