<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PandIDExcelAddin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PandIDExcelAddin.Properties.Settings.pandidConnectionString"
            connectionString="server=localhost;user id=root;password=IHC1234;persistsecurityinfo=True;database=pandid"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <applicationSettings>
        <PandIDExcelAddin.Properties.Settings>
            <setting name="BackgroundColorMain" serializeAs="String">
                <value>100, 255, 224, 192</value>
            </setting>
            <setting name="TitleFontSize" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="SubTitleFontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="TitleFontBold" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SubTitleBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BorderColorBlock" serializeAs="String">
                <value>255, 192, 128</value>
            </setting>
            <setting name="BorderColorMain" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="BasicFont" serializeAs="String">
                <value>Arial, 8.25pt</value>
            </setting>
            <setting name="BasicFontSize" serializeAs="String">
                <value>10</value>
            </setting>
        </PandIDExcelAddin.Properties.Settings>
    </applicationSettings>
</configuration>